* {
    margin: 0;
    padding: 0;
    /* background-color: aliceblue; */
}
#container{
    /* width: 100vh; */
    border: 1px solid black;
}

#lightImg {
    width: 100px;
    float: right;
    display: none;
}

#darkImg {
    width: 100px;
    float: right;
}
img{
    cursor: pointer;
}
